nltk 
tqdm
torch
notebook
boto3
mypy-boto3-s3
python-dotenv
python-box
ensure 
fastapi
uvicorn
jinja2
pydantic
numpy 
pandas
matplotlib
transformers=4.45.2
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
pyYAML
accelerate=1.0.1
